<div class="jumbotron">
  <h1>Eğitim Ekle/Sil/Güncelle</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti in, nobis
    recusandae repellendus commodi, at, ullam dolorum quae aut cumque rem veniam
    itaque porro iste assumenda officiis error ut quam iure excepturi.
  </p>
  <a routerLink="/create-training" class="btn btn-success">Eğitim Ekle!</a>
</div>

<section>
  <header>
    <h1>EĞİTİMLERİM</h1>
  </header>
</section>

<section>
  <div class="cards big-container">
    <div class="card card-square" *ngFor="let training of trainings">
      <div class="card-head">
        <h2>{{ training.title }}</h2>
        <div class="badges">
          <small class="badge badge-info">{{ training.city }}</small>
          <small class="badge badge-fancy">{{ training.genre }}</small>
        </div>
      </div>
      <div class="card-body">
        <p>{{ training.description }}</p>
      </div>
      <div class="badges">
        <button
          href="/view-training"
          class="btn btn-primary"
          (click)="viewTraining(training.id)"
        >
          <i class="fa-regular fa-eye"></i>
        </button>
        <button class="btn btn-warning" (click)="updateTrainings(training.id)">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <button class="btn btn-danger">
          <i
            class="fa-regular fa-trash-can"
            (click)="deleteTraining(training.id)"
          ></i>
        </button>
      </div>
    </div>
  </div>
</section>
