<div class="jumbotron">
  <h1>Kişisel Bilgilerim</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, laborum
    adipisci. Voluptate eius fugiat, exercitationem quod praesentium, rerum
    repudiandae autem at perferendis magnam fugit assumenda veritatis recusandae
    quia vero quos. Autem doloremque dignissimos architecto hic perferendis
    laboriosam.
  </p>
  <button class="btn btn-default">Hemen Başla!</button>
</div>

<section>
  <header>
    <h2>PROFİL BİLGİLERİM</h2>
  </header>
</section>

<section>
  <div class="flexy">
    <form
      class="custom-form"
      [formGroup]="updateUserForm"
      (submit)="updateUser(updateUserForm)"
    >
      <div class="form-header">
        <h2>Kişisel Bilgiler</h2>
      </div>
      <div class="form-group">
        <img
          [src]="imgUrl"
          [width]="imgUrl ? 200 : 0"
          [height]="imgUrl ? 200 : 0"
        />
        <label>Fotoğraf</label>
        <input type="file" (change)="onFileLoaded($event)" />
      </div>
      <div class="form-group">
        <label>İsim</label>
        <input type="text" [value]="user.name" disabled />
      </div>
      <div class="form-group">
        <label>Soyisim</label>
        <input type="text" [value]="user.surname" disabled />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" [value]="user.email" />
        <div
          *ngIf="
            !updateUserForm.get('email')?.valid &&
            (updateUserForm.get('email')?.dirty ||
              updateUserForm.get('email')?.touched)
          "
        >
          <small
            *ngIf="updateUserForm.get('email')?.errors?.['email']"
            class="error"
            >Geçerli bir email adresi giriniz!</small
          >
        </div>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-success"
          [ngClass]="{ 'btn-disabled': !updateUserForm.valid }"
          [disabled]="!updateUserForm.valid"
        >
          Güncelle
        </button>
      </div>
    </form>
    <div>
      <form class="custom-form">
        <div class="form-header">
          <h2>Evcil Hayvanım</h2>
        </div>
        <div class="form-group">
          <label>Seçim Yapınız:</label>
          <select
            #petId
            (change)="isUpdatingPet = true; getPetDetail(petId.value)"
          >
            <option selected hidden>Hayvan Seçiniz</option>
            <option *ngFor="let pet of pets" [value]="pet.id">
              {{ pet.name }}
            </option>
          </select>
        </div>
        <form
          [formGroup]="updatePetForm"
          class="custom-form"
          (submit)="updatePet(petId.value)"
          *ngIf="isUpdatingPet"
        >
          <div class="form-group">
            <label>İsim</label>
            <input formControlName="name" type="text" [value]="pet.name" />
          </div>
          <div class="form-group">
            <label>Yaş</label>
            <input formControlName="age" type="number" [value]="pet.age" />
          </div>
          <div class="form-group">
            <div class="flex">
              <button type="submit" class="btn btn-success">Güncelle</button>
              <button class="btn btn-danger" (click)="deletePet(petId.value)">
                Sil
              </button>
            </div>
          </div>
        </form>
        <form
          [formGroup]="createPetForm"
          class="custom-form"
          (submit)="createPet(createPetForm)"
          *ngIf="!isUpdatingPet"
        >
          <div class="form-group">
            <label>İsim</label>
            <input formControlName="name" type="text" />
            <div
              *ngIf="
                !createPetForm.get('name')?.valid &&
                (createPetForm.get('name')?.dirty ||
                  createPetForm.get('name')?.touched)
              "
            >
              <small
                *ngIf="createPetForm.get('name')?.errors?.['required']"
                class="error"
                >Bu alan zorunludur!</small
              >
              <small
                *ngIf="createPetForm.get('name')?.errors?.['minlength']"
                class="error"
                >İsim 2 karakterden kısa olamaz!</small
              >
            </div>
          </div>
          <div class="form-group">
            <label>Tür</label>
            <select formControlName="genre">
              <option [value]="genre.id" *ngFor="let genre of genres">
                {{ genre.name }}
              </option>
            </select>
            <div *ngIf="!createPetForm.get('genre')?.valid">
              <small
                *ngIf="createPetForm.get('genre')?.errors?.['required']"
                class="error"
                >Bu alan boş bırakılamaz!</small
              >
            </div>
          </div>
          <div class="form-group">
            <label>Yaş</label>
            <input formControlName="age" type="number" />
            <div
              *ngIf="
                !createPetForm.get('age')?.valid &&
                (createPetForm.get('age')?.dirty ||
                  createPetForm.get('age')?.touched)
              "
            >
              <small
                *ngIf="createPetForm.get('age')?.errors?.['required']"
                class="error"
                >Bu alan zorunludur!</small
              >
              <small
                *ngIf="createPetForm.get('age')?.errors?.['min']"
                class="error"
                >Yaş 0'dan küçük olamaz!</small
              >
            </div>
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-success"
              [ngClass]="{ 'btn-disabled': !createPetForm.valid }"
              [disabled]="!createPetForm.valid"
            >
              Ekle
            </button>
          </div>
        </form>
      </form>
    </div>
  </div>
</section>
