header {
  text-align: center;
}
@media only screen and (min-width: 769px) {
  header {
    font-size: 1.2rem;
    padding: 3rem 0;
  }
}
@media only screen and (max-width: 770px) {
  header {
    font-size: 1.2rem;
    padding: 3rem 0;
  }
}

.trainings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 auto;
}
@media only screen and (min-width: 769px) {
  .trainings {
    gap: 20px;
    max-width: 90vw;
  }
}
@media only screen and (max-width: 770px) {
  .trainings {
    gap: 20px;
    width: 90vw;
  }
}

.training {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  text-align: center;
  transition: 0.3s;
  background-color: var(--grey);

  border-radius: 12px;
}
.training:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: translateY(-8px);
}
@media only screen and (min-width: 769px) {
  .training {
    margin-bottom: 10px;
    padding: 3rem;
    gap: 10px;
    width: 350px;
    height: 400px;
  }
}
@media only screen and (max-width: 770px) {
  .training {
    margin-bottom: 10px;
    padding: 3rem;
    gap: 10px;
    width: 350px;
    height: 450px;
  }
}

.training-header {
  text-align: center;
}

.beginner {
  background-color: var(--green);
  color: var(--white);
}
.med {
  background-color: var(--orange);
}
.expert {
  background-color: var(--red);
  color: var(--white);
}
@media only screen and (min-width: 769px) {
  .beginner,
  .med,
  .expert {
    padding: 5px;
    border-radius: 12px;
  }
}
@media only screen and (max-width: 770px) {
  .beginner,
  .med,
  .expert {
    padding: 5px;
    border-radius: 12px;
  }
}

.level {
  position: absolute;
}
@media only screen and (min-width: 769px) {
  .level {
    top: 20px;
    right: 20px;
    font-size: 0.55rem;
  }
}
@media only screen and (max-width: 770px) {
  .level {
    top: 20px;
    right: 20px;
    font-size: 0.55rem;
  }
}
