* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

:root {
  --primary: #457b9d;
  --dark-primary: #1d3557;
  --info: #5bc0de;
  --fancy: #b314e4;
  --white: #fff;
  --icon: #e32d6e;
  --danger: #d90429;
  --black: #000000;
  --grey: #f4f4f4;
  --dark-grey: #666;
  --warning: #ffb703;
  --success: #39b500;
}

a {
  text-decoration: none;
}

section {
  padding: 18px 0;
}
@media only screen and (min-width: 640px) {
  section {
    padding: 30px 0;
  }
}

header {
  text-align: center;
}

header h1 {
  color: var(--dark-primary);
  font-weight: 560;
  font-size: 1.8rem;
}
@media only screen and (min-width: 640px) {
  header h1 {
    font-size: 2.2rem;
  }
}

header h3 {
  color: var(--dark-primary);
}
@media only screen and (min-width: 640px) {
  header h3 {
    font-size: 2rem;
  }
}

/* FORMS */
input,
select {
  border: 1px solid var(--dark-grey);
  border-radius: 9px;
  font-size: 0.75rem;
  padding: 8px 14px;
}
@media only screen and (min-width: 640px) {
  input,
  select {
    border-radius: 12px;
    padding: 8px 16px;
    font-size: 1rem;
  }
}

.custom-form {
  margin: 0 auto;
  width: 85vw;
  padding: 10px;
}
@media only screen and (min-width: 640px) {
  .custom-form {
    margin: 0;
    width: 40vw;
  }
}

.custom-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 8px;
}
@media only screen and (min-width: 640px) {
  .custom-form .form-group {
    padding: 10px;

    align-items: flex-start;
    gap: 10px;
  }
}

.custom-form input,
.custom-form select {
  width: 80%;
}
@media only screen and (min-width: 640px) {
  .custom-form input,
  .custom-form select {
    width: 60%;
  }
}

.custom-form .form-header {
  background-color: var(--primary);
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 15px 0 15px 0;
  color: var(--white);
}
@media only screen and (min-width: 640px) {
  .custom-form .form-header {
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 25px 0 25px 0;
  }
}

.custom-form .form-header h2 {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  .custom-form .form-header h2 {
    font-size: 1.5rem;
    text-align: left;
  }
}

/* UTILS */
.error {
  color: var(--danger);
}

.flex {
  display: flex;
  gap: 12px;
  align-items: center;
}
@media only screen and (min-width: 640px) {
  .flex {
    gap: 20px;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.bg-grey {
  background-color: var(--grey);
}

.text-primary {
  color: var(--primary);
}

.self-align-center {
  align-self: center;
}

.justify-start {
  justify-content: flex-start !important;
}

.medium-container {
  margin: 0 auto;
  width: 95vw;
}
@media only screen and (min-width: 640px) {
  .medium-container {
    width: 70vw;
  }
}

.small-container {
  margin: 0 auto;
}
@media only screen and (min-width: 640px) {
  .small-container {
    width: 62vw;
  }
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 6px 12px !important;
  transition: 0.3s;

  font-size: 0.9rem !important;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
@media only screen and (min-width: 640px) {
  .btn {
    padding: 8px 20px !important;
    font-size: 1.1rem !important;
  }
}

.btn-default {
  background-color: var(--grey) !important;
  color: var(--dark-grey) !important;
}

.btn-success {
  background-color: var(--success) !important;
  color: var(--white) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.btn-disabled {
  background-color: var(--dark-grey) !important;
  color: var(--white) !important;
}
.btn-disabled:hover {
  cursor: not-allowed;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  padding: 2px;

  justify-content: center;
  align-items: center;
}

.badge {
  border-radius: 10px;
  padding: 4px 10px;
  font-size: 0.7rem;
}
@media only screen and (min-width: 640px) {
  .badge {
    font-size: 0.9rem;
  }
}

.badge-fancy {
  background-color: var(--fancy);
  color: var(--white);
}

.badge-primary {
  background-color: var(--primary);
  color: var(--white);
}

.jumbotron {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}
@media only screen and (min-width: 640px) {
  .jumbotron {
    align-items: flex-start;
    text-align: left;
    padding: 50px 7vw;
    gap: 20px;
  }
}

.jumbotron h1 {
  color: var(--dark-primary);
  font-weight: 550;
  font-size: 2rem;
}
@media only screen and (min-width: 640px) {
  .jumbotron h1 {
    font-size: 3rem;
  }
}

.jumbotron p {
  color: var(--dark-grey);
  font-size: 1rem;
  line-height: 25px;
}
@media only screen and (min-width: 640px) {
  .jumbotron p {
    font-size: 1.3rem;
    line-height: 30px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  text-align: center;
  padding: 15px;
}

.card-head h2 {
  font-weight: 500;

  font-size: 1.2rem;
  padding: 6px 0;
}
@media only screen and (min-width: 640px) {
  .card-head h2 {
    font-size: 1.4rem;
  }
}

.card-body p {
  padding: 5px;
  font-size: 0.9rem;
}
@media only screen and (min-width: 640px) {
  .card-body p {
    font-size: 1.1rem;
  }
}

.card-square {
  border-radius: 15px;

  width: 75vw;
  transition: 0.3s;

  background-color: var(--grey);

  box-shadow: 5px 10px 8px var(--dark-grey);
}
.card-square:hover {
  transform: translateY(-12px);
  cursor: pointer;

  box-shadow: 5px 15px 10px var(--dark-grey);
}
@media only screen and (min-width: 640px) {
  .card-square {
    width: 360px;
  }
}

.flexy {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (min-width: 640px) {
  .flexy {
    flex-direction: row;
    gap: 25px;
  }
}

.flexy h1,
.flexy h2,
.flexy h3,
.flexy h4 {
  font-weight: 520;
}

.flexy h1 {
  font-size: 1.6rem;
}
@media only screen and (min-width: 640px) {
  .flexy h1 {
    font-size: 2.4rem;
  }
}

.flexy h2 {
  font-size: 1.4rem;
}
@media only screen and (min-width: 640px) {
  .flexy h2 {
    font-size: 1.9rem;
  }
}

.flexy h3 {
  font-size: 1rem;
}
@media only screen and (min-width: 640px) {
  .flexy h3 {
    font-size: 1.2rem;
  }
}

.flexy p {
  font-size: 0.9rem;
  line-height: 20px;
}
@media only screen and (min-width: 640px) {
  .flexy p {
    line-height: 25px;
    font-size: 1.2rem;
  }
}
