<form
  class="custom-form"
  [formGroup]="updateTrainingForm"
  (submit)="updateTraining(updateTrainingForm)"
>
  <div class="form-header">
    <h2>Eğitim Bilgileri</h2>
  </div>
  <div class="form-group">
    <label>Başlık</label>
    <input type="text" [value]="training.title" disabled />
  </div>
  <div class="form-group">
    <label>Açıklama</label>
    <textarea
      cols="30"
      rows="10"
      [value]="training.description"
      formControlName="description"
    ></textarea>
  </div>
  <div class="form-group">
    <label>Şehir</label>
    <input type="text" [value]="training.city" disabled />
  </div>
  <div class="form-group">
    <label>Adres</label>
    <input type="text" [value]="training.address" disabled />
  </div>
  <div class="form-group">
    <label>Ücret</label>
    <input type="number" [value]="training.price" formControlName="price" />
  </div>
  <div class="form-group">
    <label>Kursiyer Limiti</label>
    <input
      type="number"
      [value]="training.maxPetCount"
      formControlName="maxPetCount"
    />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Kaydet</button>
  </div>
</form>
