<section>
  <form class="custom-form" #form="ngForm" (submit)="register()">
    <div class="form-header">
      <h2>Üyelik Oluştur</h2>
    </div>
    <div class="form-group">
      <label>İsim</label>
      <input
        #name="ngModel"
        name="name"
        [(ngModel)]="registerModel.name"
        type="text"
        placeholder="İsminiz..."
        required
        minlength="2"
      />
      <div *ngIf="name.invalid && (name.touched || name.dirty)">
        <small *ngIf="name.errors?.['required']" class="error"
          >Bu alan zorunludur!</small
        >
        <small *ngIf="name.errors?.['minlength']" class="error"
          >İsim en az 2 karakter uzunluğunda olmalıdır!</small
        >
      </div>
    </div>
    <div class="form-group">
      <label>Soyisim</label>
      <input
        #surname="ngModel"
        name="surname"
        [(ngModel)]="registerModel.surname"
        type="text"
        placeholder="Soyadınız..."
        required
        minlength="2"
      />
      <div *ngIf="surname.invalid && (surname.touched || surname.dirty)">
        <small *ngIf="surname.errors?.['required']" class="error"
          >Bu alan zorunludur!</small
        >
        <small *ngIf="surname.errors?.['minlength']" class="error"
          >Soyisim en az 2 karakter uzunluğunda olmalıdır!</small
        >
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        #email="ngModel"
        name="email"
        [(ngModel)]="registerModel.email"
        type="email"
        placeholder="example@hotmail.com"
        required
        email
      />
      <div *ngIf="email.invalid && (email.touched || email.dirty)">
        <small *ngIf="email.errors?.['required']" class="error"
          >Bu alan zorunludur!</small
        >
        <small *ngIf="email.errors?.['email']" class="error"
          >Geçerli bir email adresi giriniz!</small
        >
      </div>
    </div>
    <div class="form-group">
      <label>Şifre</label>
      <input
        #password="ngModel"
        name="password"
        [(ngModel)]="registerModel.password"
        type="password"
        required
        minlength="8"
      />
      <div *ngIf="password.invalid && (password.touched || password.dirty)">
        <small *ngIf="password.errors?.['required']" class="error"
          >Bu alan zorunludur.</small
        >
        <small *ngIf="password.errors?.['minlength']" class="error"
          >Şifre en az 8 karakter uzunluğunda olmalıdır!</small
        >
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="form.invalid"
        [ngClass]="{ 'btn-disabled': form.invalid }"
      >
        Kayıt Ol
      </button>
    </div>
  </form>
</section>
