<section>
  <form class="custom-form">
    <div class="form-group">
      <label>İsim</label>
      <input type="text" placeholder="İsminiz..." />
    </div>
    <div class="form-group">
      <label>Soyisim</label>
      <input type="text" placeholder="Soyadınız..." />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" placeholder="example@hotmail.com" />
    </div>
    <div class="form-group">
      <label>Şifre</label>
      <input type="password" />
    </div>
    <div class="form-group">
      <button class="btn btn-success">Kayıt Ol</button>
    </div>
  </form>
</section>
