<div class="hero">
  <div class="light-shadow"></div>
  <div class="content">
    <h2>PetAcademy</h2>
    <p>
      Evcil hayvanın için en uygun eğitimleri rahatlıkla bulabileceğin platforma
      hoşgeldin! Burada sen ve evcil dostların için birbirinden çeşitli
      eğitimleri, alanında uzman eğitmenler ile sağlıyoruz.
    </p>
    <button class="btn btn-success">Keşfetmeye Başla!</button>
  </div>
</div>

<div class="about-us">
  <div class="content">
    <h2>PetAcademy Nedir?</h2>
    <p>
      Platformumuz; evcil hayvan dostlarınızı ve alanında uzman evcil hayvan
      eğitmenlerini bir araya toplayarak evcil hayvan sahiplerini, evcil
      hayvanları ve evcil hayvan eğitmenlerini bir araya toplayan dünyadaki tek
      platformdur. Burada eğitilebilen her hayvana uygun eğitimi bulabilir ve
      evcil hayvanınızı kayıt edebilirsiniz. Eğitim ile ilgili bilgi almak için
      yorumları okuyabilir ya da eğitmen ile iletişime geçebilirsiniz.
    </p>
  </div>
  <img src="../../../assets/images/about-us-icon.png" />
</div>

<section class="bg-primary data">
  <header>
    <h2>PetAcademy olarak;</h2>
  </header>

  <div class="info">
    <div class="info-card">
      <h2>{{ users.length }}</h2>
      <h3>adet kullanıcımızın</h3>
    </div>
    <div class="info-card">
      <h2>{{ genres.length }}</h2>
      <h3>çeşit evcil hayvanına</h3>
    </div>
    <div class="info-card">
      <h2>{{ trainings.length }}</h2>
      <h3>adet hizmet sunuyoruz..</h3>
    </div>
  </div>
</section>

<section>
  <header>
    <h2>POPÜLER EĞİTİMLERİMİZ</h2>
  </header>
</section>

<div class="cards big-container">
  <div
    class="card card-square"
    *ngFor="let training of runningOutTrainings"
    (click)="selectTraining(training.id)"
  >
    <div class="card-head">
      <h3 class="running-out-warning">TÜKENMEK ÜZERE!</h3>
      <h2>{{ training.title }}</h2>
      <div class="badges">
        <small class="badge badge-info">{{ training.city }}</small>
        <small class="badge badge-fancy">{{ training.genre }}</small>
      </div>
    </div>
    <div class="card-body">
      <p>{{ training.description }}</p>
      <button class="btn btn-success self-align-center">
        Ücret: {{ training.price }} TL
      </button>
    </div>
  </div>
</div>

<section>
  <header>
    <h2>KAYDI DOLMUŞ EĞİTİMLERİMİZ</h2>
  </header>
</section>

<div class="cards big-container">
  <div class="card card-square" *ngFor="let training of fullTrainings">
    <div class="card-head">
      <h2>{{ training.title }}</h2>
      <div class="badges">
        <small class="badge badge-info">{{ training.city }}</small>
        <small class="badge badge-fancy">{{ training.genre }}</small>
      </div>
      <h3 class="card-warning">KAYITLAR TÜKENDİ!</h3>
    </div>
    <div class="card-body">
      <p>{{ training.description }}</p>
      <button class="btn btn-success self-align-center">
        Ücret: {{ training.price }} TL
      </button>
    </div>
  </div>
</div>

<div class="contacts">
  <header>
    <h3>BİZİ TAKİP EDİN</h3>
  </header>
  <div class="contact">
    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href="https://github.com/p0rt1a/PetAcademy" target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a href=""><i class="fa-brands fa-linkedin"></i></a>
  </div>
</div>
