<section>
  <div id="certificate" class="certificate-border">
    <div class="content">
      <div class="head">
        <h1>BAŞARI BELGESİ</h1>
      </div>
      <div class="body">
        <h3>Bu belgeyi</h3>
        <p>XX.XX.XXXX</p>
        <h3>
          tarihinde,
          <span style="color: var(--primary)">XXXXX</span> eğitimindeki başarısı
          ile
        </h3>
        <p>XXXXX</p>
        <h3>almaya hak kazanmıştır.</h3>
        <h3 class="pet-academy">PetAcademy</h3>
      </div>
      <div class="pet-academy-icon"></div>
    </div>
  </div>
</section>
