<nav class="filter-nav">
  <div>
    <h2>Filtrele</h2>
    <select
      #city
      (change)="getTrainingsByFilter(title.value, city.value, genre.value)"
    >
      <option value="" selected hidden>Şehir Seç</option>
      <option value="">Tümünü Görüntüle</option>
      <option [value]="city.name" *ngFor="let city of cities">
        {{ city.name }}
      </option>
    </select>
    <select
      #genre
      (change)="getTrainingsByFilter(title.value, city.value, genre.value)"
    >
      <option value="" selected hidden>Hayvan Türü Seç</option>
      <option value="">Tümünü Görüntüle</option>
      <option [value]="genre.name" *ngFor="let genre of genres">
        {{ genre.name }}
      </option>
    </select>
  </div>
  <div class="search">
    <input
      #title
      (input)="getTrainingsByFilter(title.value, city.value, genre.value)"
      type="text"
      placeholder="Arama"
    />
    <button class="btn btn-primary">Arama</button>
  </div>
</nav>

<section>
  <header>
    <h1>EĞİTİMLER</h1>
  </header>
</section>

<section>
  <div class="cards medium-container">
    <div class="card card-square" *ngFor="let training of trainings">
      <div class="card-head">
        <h2>{{ training.title }}</h2>
        <div class="badges">
          <small class="badge badge-primary">{{ training.city }}</small>
          <small class="badge badge-fancy">{{ training.genre }}</small>
        </div>
      </div>
      <div class="card-body">
        <p>{{ training.description }}</p>
      </div>
      <button class="btn btn-success self-align-center">
        Ücret: {{ training.price }} TL
      </button>
    </div>
  </div>
</section>
