.filter-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 15px;

  background-color: var(--grey);
}
@media only screen and (min-width: 640px) {
  .filter-nav {
    padding: 15px 8vw;

    flex-direction: row;
    justify-content: space-between;
  }
}

.filter-nav h2 {
  font-size: 1.32rem;
}

.filter-nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
@media only screen and (min-width: 640px) {
  .filter-nav div {
    flex-direction: row;
    gap: 10px;
  }
}

.filter-nav input,
.filter-nav select {
  width: 60vw;
}
@media only screen and (min-width: 640px) {
  .filter-nav input,
  .filter-nav select {
    width: 200px;
  }
}
