<div class="jumbotron">
  <h1>Eğitim Detayları Bölümü</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, earum eius.
    Commodi, dignissimos minus omnis quaerat itaque beatae quis doloribus
    explicabo deleniti voluptas saepe rerum incidunt iure?
  </p>
  <button class="btn btn-default">Hemen Kaydol!</button>
</div>

<section class="bg-grey">
  <div class="small-container flexy training-detail">
    <div class="info flex-3">
      <h1>{{ training.title }}</h1>
      <h3 class="text-danger">{{ training.genre }} için uygundur.</h3>
      <p>{{ training.description }}</p>
      <p>Adres: {{ training.address }} / {{ training.city }}</p>
      <button class="btn btn-info">Ücret: {{ training.price }}</button>
    </div>
    <div class="info flex-1">
      <h2>Eğitmen</h2>
      <h3>Adı: {{ training.trainerName }}</h3>
      <h3>İletişim: {{ training.trainerEmail }}</h3>
      <button class="btn btn-success" (click)="createEnrollment()">
        Kayıt Ol
      </button>
    </div>
  </div>
</section>

<section>
  <header>
    <h2>YORUMLAR</h2>
  </header>
</section>

<section id="comments">
  <div class="cards big-container">
    <div class="card card-rectangle" *ngFor="let comment of comments">
      <div class="card-head">
        <div class="flex">
          <img class="user-image" [src]="comment.userImage" />
          <div>
            <h2>{{ comment.user }}</h2>
            <small class="badge badge-fancy">{{ comment.date }}</small>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>{{ comment.body }}</p>
      </div>
    </div>
  </div>

  <form
    class="custom-form"
    #form="ngForm"
    (submit)="createComment()"
    *ngIf="!isUserHaveComment"
  >
    <div class="form-header">
      <h2>Yorum Ekle</h2>
    </div>
    <div class="form-group">
      <textarea
        #body="ngModel"
        name="body"
        [(ngModel)]="createCommentModel.body"
        cols="30"
        rows="10"
        placeholder="Yorumunuz..."
        required
        minlength="10"
      ></textarea>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-success"
        [ngClass]="{ 'btn-disabled': form.invalid }"
        [disabled]="form.invalid"
      >
        Ekle
      </button>
    </div>
  </form>
</section>
