<div class="jumbotron">
  <h1>Eğitim Kaydı</h1>
  <p>
    Eğitim kaydını tamamlamadan önce hangi evcil hayvanın bu eğitime
    kaydolacağını seçmelisin. Kaydını tamamlamadan önce bilgilerinin doğruluğunu
    kontrol etmeyi unutma!
  </p>
  <button class="btn btn-success">Şimdi Kaydet!</button>
</div>

<section>
  <form
    class="custom-form"
    [formGroup]="selectPetForm"
    (submit)="createEnrollment(selectPetForm)"
  >
    <div class="form-header">
      <h2>Detaylar</h2>
    </div>
    <div class="form-group">
      <label>Kaydı Yapılacak Hayvanım</label>
      <select formControlName="petId">
        <option [value]="pet.id" *ngFor="let pet of pets">
          {{ pet.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Kullanıcı</label>
      <input type="text" [value]="user.name + ' ' + user.surname" disabled />
    </div>
    <div class="form-group">
      <label>İletişim</label>
      <input type="email" [value]="user.email" disabled />
    </div>
    <div class="form-group">
      <button
        class="btn btn-success"
        [ngClass]="{ 'btn-disabled': !selectPetForm.valid }"
        [disabled]="!selectPetForm.valid"
      >
        Ödeme Yap ({{ training.price }} TL)
      </button>
    </div>
  </form>
</section>
