<div>
  <section id="header">
    <div class="shadow"></div>
    <div class="main-content">
      <p class="content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta
        laboriosam atque maiores, corporis repudiandae quis exercitationem neque
        optio hic ut! Corporis distinctio pariatur in quis quos numquam maiores
        nam consectetur architecto voluptas!
      </p>
      <a [routerLink]="['/register']" class="btn btn-success">Şimdi Kaydol</a>
    </div>
  </section>

  <trainings></trainings>
</div>
