.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  border-bottom: 1.8px solid var(--dark-grey);

  padding: 20px 0px;

  position: sticky;
  top: 0;
  width: 100%;

  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
}
@media only screen and (min-width: 640px) {
  .main-nav {
    flex-direction: row;
    gap: 40px;

    padding: 25px 40px;
  }
}

.main-nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media only screen and (min-width: 640px) {
  .main-nav div {
    gap: 8px;
  }
}

.main-nav a {
  color: var(--black);
  transition: 0.3s;

  font-size: 1rem;
}
.main-nav a:hover {
  color: var(--primary);
}
@media only screen and (min-width: 640px) {
  .main-nav a {
    font-size: 1.35rem;
    padding: 8px;
  }
}

.main-nav .head {
  font-weight: 600;
  color: var(--icon);

  font-size: 1.6rem !important;
}
@media only screen and (min-width: 640px) {
  .main-nav .head {
    font-size: 1.8rem !important;
  }
}

i {
  font-size: 1.3rem;
  position: relative;
}
i:hover {
  cursor: pointer;
}
@media only screen and (min-width: 640px) {
  i {
    font-size: 1.8rem;
  }
}

.user-operations {
  border: 1px solid var(--dark-grey);

  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);

  left: 0;
  transform: translate(-45%, 40px);

  width: 62vw;

  padding: 30px 10px;

  border-radius: 10px;

  z-index: 2;
}
@media only screen and (min-width: 640px) {
  .user-operations {
    transform: translate(-90%, 50px);

    width: 300px;

    padding: 30px 20px;

    border-radius: 10px 0 0 30px;
  }
}

.user-operations a {
  font-weight: 200;
}
