<nav class="main-nav">
  <div class="flex-1">
    <img src="../../../assets/images/logo.png" />
    <a href="#" class="head">PetAcademy</a>
  </div>
  <div class="justify-start flex-3">
    <a routerLink="/home">Ana Sayfa</a>
    <a routerLink="/trainings">Eğitimler</a>
  </div>
  <div class="flex-2 justify-end">
    <a *ngIf="isTokenExpired()" href="register" class="btn btn-primary"
      >Üye Ol</a
    >
    <a *ngIf="isTokenExpired()" href="login" class="btn btn-success"
      >Giriş Yap</a
    >
    <i
      *ngIf="!isTokenExpired()"
      [className]="isOperations ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'"
      (click)="isOperations = !isOperations"
    >
      <div *ngIf="isOperations" class="user-operations">
        <a routerLink="/profile">Profilim</a>
        <a routerLink="/my-trainings">Hizmetlerim</a>
        <button class="btn btn-danger" (click)="logout()">Çıkış Yap</button>
      </div>
    </i>
  </div>
</nav>
